/* Login Page*/
.form-group-centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; /
}

.binary-switch {
    width: 130px;
    height: 40px;
    background-color: #838080;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.binary-slider {
    position: absolute;
    width: 75px;
    height: 100%;
    background-color: #a4caef;
    border-radius: 20px;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#userTypeAdmin {
    display: none;
}

.binary-switch.active .binary-slider {
    transform: translateX(60px);
}

.binary-switch.active #userTypeAdmin {
    display: block;
}

.binary-switch.active #userTypeReader {
    display: none;
}


.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loadingGif {
    width: 400px;
    height: auto;
}
